body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

h1{
    grid-column: 1/5;
    justify-self: center;
    align-self: center;
}

.usuario{
    grid-column: 5;
    justify-self: right;
    align-self: center;
}

.usuario a{
    font-family: Helvetica, sans-serif;
}

.usuarioIcon{
    grid-column: 6;
    justify-self: left;
    align-self: center;
}

.usuarioIcon img{
    width: 120px;
    height: 120px;
}

main{
    margin: auto 0;
}

section{
    margin: auto;
    width: 40em;
}

article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 4px;
}

article p{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    padding: 2em;
    border: 2px solid black;
    background-color: #6441a4;
    box-shadow: 4px 4px black;
}

#formPlanes{
    display: grid;
    grid-template-areas: "mensual anual vitalicio"
                        "botones botones botones";
    width: 50em;
    margin: 1em auto;
    border: none;
    background-color: white;
    box-shadow: none;
    grid-column-gap: 0.5em;
}

#formPagar{
    margin: 2em auto;
    width: 28em;
}

#formPagar label{
    display: inline-block;
    width: 10em;
}

.mensual{
    grid-area: mensual;
    display: flex;
    flex-direction: column;
}

.anual{
    grid-area: anual;
    display: flex;
    flex-direction: column;
}

.vitalicio{
    grid-area: vitalicio;
    display: flex;
    flex-direction: column;
}

.mensual img, .anual img, .vitalicio img, article img{
    border: 2px solid black;
    box-shadow: 4px 4px black;
    margin: 1em;
}

#formPlanes label{
    display: block;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    margin: 4px;
}

#formPlanes input{
    box-shadow: none;
}

.botones{
    grid-area: botones;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 4px;
}

.botones input{
    width: 8em;
    color: #6441a4;
    text-align: center;
    background-color: lightgrey;
}

.botones input:hover{
    background-color: #3fb950;
    cursor: pointer;
}

a{
    color: #6441a4;;
}

a:hover{
    color: #3fb950;
}

footer{
    margin-top: auto;
}

@media screen and (min-width:320px) and (max-width:425px){
    body{
        width: 100%;
    }

    header{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: auto;
    }

    h1{
        grid-column: 1/3;
        justify-self: center;
        align-self: center;
    }

    .usuario{
        grid-column: 3;
        justify-self: right;
        align-self: center;
    }

    .usuarioIcon{
        grid-column: 4;
        justify-self: left;
        align-self: center;
    }

    .usuarioIcon img{
        width: 90px;
        height: 90px;
    }

    #formPlanes{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2em 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #planMensual, #planAnual, #planVitalicio{
        display: grid;
        justify-self: center;
        align-self: center;
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }      

    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #formPagar{
        box-shadow: none;
        border: none;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        width: 100%;
        padding: 1em 0;
        text-align: center;
    }

    .botones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .botones input{
        width: 7em;
    }

}

@media screen and (min-width:426px) and (max-width: 768px){
    body{
        width: 100%;
    }

    section{
        width: 60%;
    }

    #formPagar{
        width: 75%;
    }

    #formPlanes{
        width: 85%;
    }

    .botones input{
        width: 7.5em;
    }

}
